# SPDX-License-Identifier: GPL-2.0-or-later
#
# Copyright (c) 2025 Western Digital Corporation or its affiliates.
#
# Authors: Dennis Maisenbacher (dennis.maisenbacher@wdc.com)

- include_vars: ../../../../variables.yaml

- name: "Install kubernetes python package"
  pip:
    name: kubernetes
    state: present

- name: "Ensure ~/tmp-ansible exists for deployment files"
  file:
    path: "~/tmp-ansible"
    state: directory

- name: Download kubevirt deployment files
  shell: |
    wget -P ~/tmp-ansible https://github.com/kubevirt/kubevirt/releases/download/{{ kubevirt_version }}/kubevirt-operator.yaml
    wget -P ~/tmp-ansible https://github.com/kubevirt/kubevirt/releases/download/{{ kubevirt_version }}/kubevirt-cr.yaml

- name: "Install KubeVirt operator"
  kubernetes.core.k8s:
    state: present
    src: ~/tmp-ansible/kubevirt-operator.yaml

- name: "Install KubeVirt custom resource"
  kubernetes.core.k8s:
    state: present
    src: ~/tmp-ansible/kubevirt-cr.yaml

- name: "Install Virtctl"
  become: yes
  shell: |
    wget -O /usr/local/bin/virtctl https://github.com/kubevirt/kubevirt/releases/download/{{ kubevirt_version }}/virtctl-{{ kubevirt_version }}-linux-amd64
    chmod 0755 /usr/local/bin/virtctl

- name: "Wait for KubeVirt components to become ready"
  shell: |
    kubectl -n kubevirt wait kv kubevirt --for condition=Available --timeout=600s

- name: "Ensure ~/tmp-ansible exists for KubeVirt configuration"
  file:
    path: "~/tmp-ansible"
    state: directory

- name: "Copy KubeVirt config deployment file"
  copy:
    src: ./kubevirt-config.yaml
    dest: ~/tmp-ansible/kubevirt-config.yaml

- name: "Enable required KubeVirt config features"
  kubernetes.core.k8s:
    state: present
    src: ~/tmp-ansible/kubevirt-config.yaml

- name: "Wait for KubeVirt pods to become ready"
  shell: "kubectl wait --namespace=kubevirt --for=condition=Ready pod --all --timeout=1200s"

- name: "Wait for KubeVirt deployment to become ready"
  shell: "kubectl wait --namespace=kubevirt --for=jsonpath='{.status.phase}'=Deployed kubevirt.kubevirt.io/kubevirt --all --timeout=1200s"

# Install KubeVirt CDI
- name: Download kubevirt CDI deployment files
  shell: |
    wget -P ~/tmp-ansible https://github.com/kubevirt/containerized-data-importer/releases/download/{{ kubevirt_cri_version }}/cdi-operator.yaml
    wget -P ~/tmp-ansible https://github.com/kubevirt/containerized-data-importer/releases/download/{{ kubevirt_cri_version }}/cdi-cr.yaml

- name: "Install KubeVirt CDI operator for VM image repository"
  kubernetes.core.k8s:
    state: present
    src: ~/tmp-ansible/cdi-operator.yaml

- name: "Install KubeVirt CDI custom resource for VM image repository"
  kubernetes.core.k8s:
    state: present
    src: ~/tmp-ansible/cdi-cr.yaml
