# SPDX-License-Identifier: GPL-2.0-or-later
#
# Copyright (c) 2025 Western Digital Corporation or its affiliates.
#
# Authors: Dennis Maisenbacher (dennis.maisenbacher@wdc.com)

- include_vars: ../../../../variables.yaml

- name: "Create docker-registry namespace"
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: Namespace
      metadata:
        name: docker-registry

- name: "Create ConfigMap for registry config (allow deletes)"
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: ConfigMap
      metadata:
        name: registry-config
        namespace: docker-registry
      data:
        config.yml: |
          version: 0.1
          log:
            fields:
              service: registry
          storage:
            cache:
              blobdescriptor: inmemory
            filesystem:
              rootdirectory: /var/lib/registry
            delete:
              enabled: true
          http:
            addr: :5000
            headers:
              X-Content-Type-Options: [nosniff]
          health:
            storagedriver:
              enabled: true
              interval: 10s
              threshold: 3

- name: "Create PersistentVolumeClaim for container registry"
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: PersistentVolumeClaim
      metadata:
        name: docker-registry-pvc
        namespace: docker-registry
      spec:
        accessModes:
          - ReadWriteOnce
        resources:
          requests:
            storage: "{{ private_container_registry_size }}"
        storageClassName: longhorn

- name: "Deploy Docker registry"
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: registry
        namespace: docker-registry
      spec:
        replicas: 1
        selector:
          matchLabels:
            app: registry
        template:
          metadata:
            labels:
              app: registry
          spec:
            containers:
            - name: registry
              image: registry:2
              ports:
              - containerPort: 5000
              volumeMounts:
              - name: storage
                mountPath: /var/lib/registry
              - name: registry-config
                mountPath: /etc/docker/registry
                readOnly: true
            volumes:
            - name: storage
              persistentVolumeClaim:
                claimName: docker-registry-pvc
            - name: registry-config
              configMap:
                name: registry-config

- name: Expose Docker registry service
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: Service
      metadata:
        name: registry-service
        namespace: docker-registry
      spec:
        type: NodePort
        selector:
          app: registry
        ports:
          - protocol: TCP
            port: 80
            targetPort: 5000
            nodePort: 32000 

- name: Setup service account for docker-registry to list and exec pods
  kubernetes.core.k8s:
    state: present
    template: ../templates/docker-registry-rbac.yaml

- name: "Deploy cronjob to delete linux-kernel-containerdisks older than 60 days"
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: batch/v1
      kind: CronJob
      metadata:
        name: registry-cleanup
        namespace: docker-registry
      spec:
        schedule: "0 2 * * *" # every day at 02:00
        jobTemplate:
          spec:
            template:
              spec:
                serviceAccountName: registry-cleanup-sa
                restartPolicy: OnFailure
                containers:
                - name: cleanup
                  image: bitnami/kubectl:latest
                  command:
                    - /bin/sh
                    - -c
                    - |
                      set -e
                      REGISTRY_HOST="registry-service.docker-registry.svc.cluster.local:80"
                      REPOSITORY="linux-kernel-containerdisk"
                      DAYS=60
                      NOW=$(date +%s)

                      echo "Fetching tags for $REPOSITORY..."
                      for tag in $(curl -s -u $USER:$PASS http://$REGISTRY_HOST/v2/$REPOSITORY/tags/list | jq -r '.tags[]'); do
                        # Get manifest and config digest
                        manifest=$(curl -s -u $USER:$PASS -H 'Accept: application/vnd.docker.distribution.manifest.v2+json' \
                          http://$REGISTRY_HOST/v2/$REPOSITORY/manifests/$tag)
                        cfg=$(echo "$manifest" | jq -r '.config.digest')
                        created=$(curl -s -u $USER:$PASS http://$REGISTRY_HOST/v2/$REPOSITORY/blobs/$cfg | jq -r '.created')
                        if [ -z "$created" ]; then
                          echo "Skipping $tag (no created date)"
                          continue
                        fi
                        ts=$(date -d "$created" +%s)
                        age=$(( (NOW - ts) / 86400 ))
                        if [ $age -gt $DAYS ]; then
                          digest=$(curl -sI -u $USER:$PASS \
                            -H 'Accept: application/vnd.docker.distribution.manifest.v2+json' \
                            http://$REGISTRY_HOST/v2/$REPOSITORY/manifests/$tag \
                            | awk -F': ' '/Docker-Content-Digest/{print $2}' | tr -d '\r')
                          echo "Deleting $tag (age: $age days, digest: $digest)"
                          curl -s -u $USER:$PASS -X DELETE http://$REGISTRY_HOST/v2/$REPOSITORY/manifests/$digest
                        else
                          echo "Keeping $tag (age: $age days)"
                        fi
                      done

                      echo "Running garbage collection..."
                      POD=$(kubectl get pod -n docker-registry -l app=registry -o jsonpath='{.items[0].metadata.name}')
                      kubectl exec -n docker-registry $POD -- registry garbage-collect /etc/docker/registry/config.yml


# TOOD: on local machine where docker image should be pushed from
# /etc/docker/daemon.json
# {
#   "insecure-registries": ["<node-ip>:32000"]
# }
