# SPDX-License-Identifier: GPL-2.0-or-later
#
# Copyright (c) 2025 Western Digital Corporation or its affiliates.
#
# Authors: Dennis Maisenbacher (dennis.maisenbacher@wdc.com)

- name: "Configure the physical Kubernetes cluster nodes"
  hosts: physical_k8s_cluster_nodes
  tasks:
    - name: "Configure physical k8s cluster node"
      include_role:
        name: configure-physical-k8s-cluster-node

- name: "Install required kubernetes componentes"
  hosts: localhost
  gather_facts: no
  tasks:
    - include_vars: ../variables.yaml
    - include_vars: ../secrets.enc

    - name: "Install kubernetes python package"
      pip:
        name: kubernetes
        state: present

    - name: "Ensure ~/tmp-ansible exists for deployment files"
      file:
        path: "~/tmp-ansible"
        state: directory

    - name: "Wait until Kubernetes cluster is up and running again (in case of reboot)"
      command: kubectl get nodes --no-headers
      register: kubernetes_nodes_final
      until: "'NotReady' not in kubernetes_nodes_final.stdout and 'Error from server' not in kubernetes_nodes_final.stderr"
      retries: 30
      delay: 20

    - name: "Install longhorn"
      include_role:
        name: k8s-install-longhorn

    - name: "Install KubeVirt"
      include_role:
        name: k8s-install-kubevirt

    - name: "Install private container registry"
      include_role:
        name: k8s-install-private-container-registry

    - name: "Install logging logging stack"
      include_role:
        name: k8s-install-logging-stack

- name: "Configure the physical Kubernetes cluster nodes to accept the container registry"
  hosts: physical_k8s_cluster_nodes
  tasks:
    - name: Configure k3s to use the private registry
      become: yes
      copy:
        dest: /etc/rancher/k3s/registries.yaml
        content: |
          mirrors:
            "container-registry.local:5000":
              endpoint:
                - "http://localhost:32000"

    - name: Restart k3s service
      become: yes
      systemd:
        name: k3s
        state: restarted

#TODO: Add step to config the following on local machine where docker image
# should be pushed from:
# /etc/docker/daemon.json
# {
#   "insecure-registries": ["<node-ip>:32000"]
# }
